*~
*.out
node_modules/
.DS_Store
ftp.py
static/geojson/*
transit.gz
venv/*
*.cfg
*.kate-swp
*.pyc
vm_setup.sh
*.csv
data/*
*.zip
*.gz
*.tar
*.osm
*.bin
*.wpr
*.dat
.idea/
valhalla/*.bin
valhalla/*.txt
valhalla/demos
valhalla/tiles
valhalla/valhalla_tiles
tools/cache/
uploads/*
