bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dnspython==1.16.0
email-validator==1.1.0
Flask==1.1.2
Flask-Login==0.5.0
Flask-SSLify==0.1.5
geobuf==1.1.1
geographiclib==1.50
geopy==1.22.0
graphviz==0.14
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
lzstring==1.0.4
MailGun-V3==0.3.2
MarkupSafe==1.1.1
memory-profiler==0.57.0
more-itertools==8.2.0
numpy==1.18.4
objgraph==3.4.1
Paste==3.4.0
portend==2.6
protobuf==3.11.3
psutil==5.7.0
psycopg2==2.8.5
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2020.1
requests==2.23.0
six==1.14.0
street-address==0.4.0
tempora==3.0.0
unicodecsv==0.14.1
urllib3==1.25.9
Werkzeug==1.0.1
zc.lockfile==2.0
