[flask]
port_http: 5050
domain: http://localhost
secret_key: F12Yr58j4zX T~Y%C!efJ]Dxe/,?KD
use_logins: False

gtfs_enabled: False
# Folder to store uploads, relative to server.py
upload_folder = uploads
screenshot_folder = dist/img/map-screenshots

[geocode]
reverse_geocode_provider: mapbox
mapzen_key: MAPZEN_KEY
mapbox_key: MAPBOX_KEY
google_key: GOOGLE_KEY

[sessions]
host: localhost
port: 5432
dbname: sessions
user: postgres
password: DB_PASSWORD
secret_key_public: aaaaaaaaaaaaaaaa
secret_key_private: bbbbbbbbbbbbbbbb

# Session expiration time, in seconds.
expiration_time: 1800
