[flask]
port: 5050
secret_key: F12Yr58j4zX T~Y%C!efJ]Gxe/,?KT

[dggrid]
host: localhost
port: 5432
dbname: DB_NAME_HERE
user: DB_USER_HERE
password: DB_PASSWORD_HERE

[sessions]
host: localhost
port: 5432
dbname: DB_NAME_HERE
user: DB_USER_HERE
password: DB_PASSWORD_HERE
secret_key_public: aaaaaaaaaaaaaaaa
secret_key_private: bbbbbbbbbbbbbbbb

# Session expiration time, in seconds.
expiration_time: 7200