{% extends "layout.html" %}
{% block body %}
    <link rel="stylesheet" href="static/css/app.css" />
    <script type="text/javascript">
    HEADLESS_MODE = false;
    </script>
    <div id="alpha-warning">
        <span class="alpha-warning-large">warning! you are viewing an <em>alpha release</em> of enmodal.</span>
        <br />
        <br />
        <span class="alpha-warning-small">maps you create will not be permanently saved. the ridership engine is not to be trusted. there will be bugs.<br /><a href="#" id="alpha-acknowledge" onclick="$('#alpha-warning').hide();">i'm ok with this</a></span>
    </div>
    <div id="map"></div>
    <div id="map-title">
        <div id="map-title-inner">
        Map  <i class="fa fa-pencil" style="margin-left: 5px;" aria-hidden="true"></i>
        </div>
    </div>
    <div id="starter">
        <div id="starter-middle">
            <div class="starter-inner" id="starter-city-picker">
                <div id="game-start-city-picker">
                    <input id="city-picker-input" type="text" placeholder="New York City" autocomplete="off" />
                </div>
                <div id="game-start-scratch">
                    <div id="game-start-scratch-button">Start</div>
                </div>
            </div>
            <div class="starter-inner" id="starter-share" style="display: none;">
                <div class="share-header">Sharing</div>
                <div class="share-body">
                    <div class="share-link">
                        <div class="share-link-header">Public link</div>
                        <div class="share-link-content" id="share-link-public">
                            <div class="share-link-input">
                                <input type="text" id="share-link-public-input" readonly>
                            </div>
                            <div class="share-link-copy-button game-button-large" data-clipboard-target="#share-link-public-input">copy</div>
                        </div>
                        <div class="share-link-footer">This link is a read-only copy of your map that can be shared publicly.</div>
                    </div>
                    <div class="share-link">
                        <div class="share-link-header">Private link</div>
                        <div class="share-link-content" id="share-link-private">
                            <div class="share-link-input">
                                <input type="text" id="share-link-private-input" readonly>
                            </div>
                            <div class="share-link-copy-button game-button-large" data-clipboard-target="#share-link-private-input">copy</div>
                        </div>
                        <div class="share-link-footer">This link allows you to edit your map later. Bookmark it and keep it secret!</div>
                    </div>
                    <div class="share-link">
                        <strong>Don't forget to save your map before sharing!</strong>
                    </div>
                </div>
                <div class="share-footer">
                    <div class="game-button-large" id="share-ok">OK</div>
                </div>
            </div>
            <div class="starter-inner" id="session-expired" style="display: none;">
                <div class="share-header">Session Expired</div>
                <div class="share-body">
                    <p>Don't worry! Your work has been saved.</p>
                    <p>Just refresh the page (or wait 5 seconds).</p>
                </div>
            </div>
        </div>

    </div>
    <div id="scale">
        <div id="scale-boxes"></div>
        <div id="scale-bounds">
            <div class="scale-bound" id="scale-low">0</div>
            <div class="scale-bound" id="scale-mid">0</div>
            <div class="scale-bound" id="scale-high">0</div>
        </div>
        <div id="scale-units"></div>
    </div>
    
    <div id="options">
        <div id="options-container">
            <div id="option-section-tools" class="option-section">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link active" id="tool-station" data-toggle="tab" href="#tab-build" role="tab" aria-expanded="true"><i class="fa fa-map-marker"></i>  Build</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tool-data" data-toggle="tab" href="#tab-visualize" role="tab"><i class="fa fa-th"></i>  Visualize</a>
                    </li>
                </ul>
            </div>
            <div class="option-section tab-content">
                <div class="tab-pane option-section active" id="tab-build" role="tabpanel">
                    <div id="accordion" class="option-section" role="tablist" aria-multiselectable="true">
                        <div class="card option-section" style="flex: 0 0 auto; margin-bottom: 10px;">
                            <div class="card-header option-accordion" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-services" aria-expanded="true" aria-controls="collapse-services">
                                Services
                                </a>
                            </div>
                            <div id="collapse-services" class="option-section collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block option-section">
                                    <div id="option-section-services" class="option-section custom-scroll">
                                        <div id="service-selector" class="dropdown dropdown-selector game-button">
                                            <button class="btn btn-secondary dropdown-toggle dropdown-button" id="dropdown-service-button" type="button" data-toggle="dropdown">Select a service...
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu custom-scroll-dark" id="dropdown-service-menu">
                                                <div class="dropdown-divider"></div>
                                                <li><a id="service-selector-new" href="#">New Service</a></li>
                                            </ul>
                                        </div>

                                        <div id="custom-service-options" class="custom-options">
                                            <div class="custom-options-label">Service name
                                                <br />
                                                <input type="text" id="custom-service-name" name="custom-service-name" placeholder="?" />
                                            </div>
                                            <div id="custom-service-error"></div>
                                            <div id="custom-service-mode" class="btn-group" data-toggle="buttons">
                                                <label id="service-option-heavy-rail" transit-service-mode="heavy-rail" class="btn btn-secondary service-mode-button active">
                                                    <input type="radio" name="options" autocomplete="off" checked> Rail
                                                </label>
                                                <!--<label id="service-option-light-rail" transit-service-mode="light-rail" class="btn btn-secondary service-mode-button">
                                                <input type="radio" name="options" autocomplete="off"> Light Rail
                                            </label>-->
                                                <label id="service-option-bus" transit-service-mode="bus" class="btn btn-secondary service-mode-button disabled" data-balloon="Coming Soon" data-balloon-pos="right">
                                                    <input type="radio" name="options" autocomplete="off"> Bus
                                                </label>
                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card option-section">
                            <div class="card-header option-accordion" role="tab" id="headingTwo">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-lines" aria-expanded="true" aria-controls="collapse-lines">
                        Lines
                        </a>
                            </div>
                            <div id="collapse-lines" class="option-section collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                <div id="option-section-lines" class="card-block option-section custom-scroll">
                                    <div id="line-selector" class="dropdown dropdown-selector game-button">
                                        <button class="btn btn-secondary dropdown-toggle dropdown-button" id="dropdown-line-button" type="button" data-toggle="dropdown">Select a line...
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu custom-scroll-dark" id="dropdown-line-menu">
                                            <div class="dropdown-divider"></div>
                                            <li><a id="line-selector-new" href="#">New Line</a></li>
                                        </ul>
                                    </div>

                                    <div id="custom-line-options" class="custom-options">
                                        <div id="custom-line-options-color-pickers">
                                            <input type="color" id="color-picker-bg" />
                                            <br />
                                            <input type="color" id="color-picker-fg" />
                                        </div>
                                        <div id="custom-line-options-column-inputs">

                                            <div class="custom-options-label">Line name
                                                <br />
                                                <input type="text" id="custom-line-name" name="custom-line-name" placeholder="?" />
                                            </div>
                                            <div id="custom-line-error"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div id="option-section-route" class="custom-scroll">
                                        <div id="route-diagram-container-container">
                                            <div id="route-diagram-container">
                                                <div id="route-diagram"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane" id="tab-visualize" role="tabpanel">
                    <div id="option-section-data" class="option-section">
                        <div class="data-layer-selector" id="data-layer-population">Population</div>
                        <div class="data-layer-selector" id="data-layer-employment">Employment</div>
                        <div class="data-layer-selector" id="data-layer-ridership">Ridership</div>
                    </div>
                </div>

            </div>

            <div id="option-section-status" class="option-section">
                <div id="tool-save" class="tool-button game-button-large" data-balloon-pos="up">Save</div>
                <div id="save-message" style="display: none;">Saved!</div>
                <div id="tool-share" class="tool-button game-button-large">Share</div>
                <a href="http://twitter.com/enmodal" target="_blank" class="tool-button game-button-large"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
                <a href="https://gratipay.com/enmodal/" target="_blank" class="tool-button game-button-large"><i class="fa fa-lg fa-gratipay" aria-hidden="true"></i></a>
                <div class="attribution"><a href="http://leafletjs.com/">Leaflet</a> | Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ</div>
            </div>
        </div>
    </div>

    <div id="svg-drawing" style="display:none;"></div>
    
{% endblock %}