{% extends "layout.html" %}
{% block body %}

    <link rel="stylesheet" href="static/css/user.css" />
    <script src="static/js/user.js"></script>
    
    <div id="content">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#maps" role="tab" aria-expanded="true"><i class="fa fa-map-marker"></i>  Maps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#user" role="tab"><i class="fa fa-cog"></i>  Settings</a>
            </li>
        </ul>
        <div id="user-tab-content" class="tab-content">
        
            <div class="tab-pane active" id="maps" role="tabpanel">
                <div>
                    <a href="/"><div class="tool-button game-button-large">Create a new map</div></a>
                </div>
                <div id="user-maps">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
                
            </div>
            <div class="tab-pane" id="user" role="tabpanel">
                <h3>Change password</h3>
                <form id="ajax-change-password-form" action="#" method="post" role="form" autocomplete="off">
                    <div id="change-password-old-password" class="form-group">
                        <input type="password" name="old_password" id="old_password" tabindex="1" placeholder="Current Password">
                    </div>
                    <div id="change-password-password" class="form-group">
                        <input type="password" name="password" id="password" tabindex="2" placeholder="New Password">
                    </div>
                    <div id="change-password-confirm-password" class="form-group">
                        <input type="password" name="confirm_password" id="confirm_password" tabindex="3" placeholder="Confirm New Password">
                    </div>
                    <div class="form-group">
                        <button type="button" id="change-password-submit" tabindex="4">Submit</button>
                    </div>
                </form>
                <div id="change-password-done" class="alert alert-success" role="alert" style="display: none;">
                    Your password has been successfully changed.
                </div>
                <div id="change-password-problem" class="alert alert-danger" role="alert" style="display: none;">
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}